<log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="console" />
      <appender-ref ref="file" />
    </root>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="&#xA;[Processus-Started]&#xA;" />
        <conversionPattern value="%date{yyyy-MM-dd hh:mm:ss} [%thread] %level %logger - Method: %method - %message%newline" />
      </layout>
    </appender>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file value="LoggerEcommerce.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="&#xA;[Processus-Started]&#xA;" />
        <conversionPattern value="%date{yyyy-MM-dd hh:mm:ss} [%thread] %level %logger - Method: %method - %message%newline" />
        <param name="Footer" value="[Processus-Finished]&#xA;" />
      </layout>
    </appender>
</log4net>