<!-- Title Page -->
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-color: #000;">
    <h2 class="l-text2 t-center">
        @Resources.Translation.Chariot
    </h2>
</section>

<!-- Cart -->
<section class="cart bgwhite p-t-70 p-b-100">
    <div class="container">
        <!-- Cart item -->
        <div id="chariotConsommateur">

        
        </div>
        <!--Fin-->
    </div>
</section>

	<!-- Container Selection -->
<div id="dropDownSelect1"></div>
<div id="dropDownSelect2"></div>


<input type="hidden" id="labelProduit" name="labelProduit" value="@Resources.Translation.Produit" />
<input type="hidden" id="labelPrix" name="labelPrix" value="@Resources.Translation.Prix" />
<input type="hidden" id="labelQuantite" name="labelQuantite" value="@Resources.Translation.Quantite" />
<input type="hidden" id="indexChariot" name="indexChariot" />
