<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="BD_LABORATOIRE_TESTE" connectionString="Server=DESKTOP-FLQS93H;Database=LABORATOIRE;User Id=sa;Password=admin;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>